<footer>
  <ul class="social-media">
    <li><a href="https://www.instagram.com/mmarchwiany/" target="_blank"><i class="instagram-small"></i></a></li>
    <li><a href="https://dribbble.com/moniquemarchwiany" target="_blank"><i class="dribbble-small"></i></a></li>
    <li><a href="https://github.com/marchwiany" target="_blank"><i class="github-small"></i></a></li>
    <li><a href="#" target="_blank"><i class="linkedin-small"></i></a></li>
    <li><a href="#" target="_blank"><i class="medium-small"></i></a></li>
  </ul>
  <p>© <%= Time.now.year %> Monique Marchwiany. All Rights Reserved.</p>
</footer>