<header class="navigation">
  <h5 class="logo"><a href="/">Monique Marchwiany</a></h5>
  <nav class="navigation-menu">
    <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="/">Portfolio</a></li>
      <!--<li><a href="/exploration.html">Exploration</a></li>-->
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>

