/*-----------------------
Footer
-----------------------*/
footer{
  background-color: darken($white-light, 4%);
  display: inline-block;
  @include rem(padding, 10px 20px);
  text-align: center;
  width: 100%;
}

/*-----------------------
Logos
-----------------------*/
.footer-logos{
  display: inline-block;
  width: 100%;

  li{
    display: inline-block;
    @include rem(margin, 30px 10px 0px 0px);
    @include transition(all 0.3s ease-in-out);
    max-width: 100px;
    opacity: 0.2;
    width: 28%;

    @include media($tablet){
      width: 20%;
    }

    img{
      vertical-align: middle;
    }
  }
}