<header class="breakline-header page-header">
  <div class="header-text">
    <h1>BreakLine</h1>
    <p>UX & Visual Design  /  Front End Development</p>
  </div>
</header>

<section class="overview-container">
  <div class="text-block">
    <h2>Overview</h2>
    <p>BreakLine provides educational programs for veterans looking to transition into a new career. Their corporate partners and select university faculty share their industry experience, lead group projects, and serve as mentors to the BreakLine students. At the end of the program, some corporate partners invite qualified BreakLine students to interview to open positions.</p>
    <a href="http://www.breakline.org/" class="link-black-base" target="_blank">View Live Site</a>
  </div>
  <aside class="detail-block">
    <h5>Role</h5>
    <p>Lead Designer</p>
    <p>Lead Frontend Developer</p>
    <br><br>
    <h5>Launched</h5>
    <p>July 2016 / LaunchPad Lab</p>
  </aside>
</section>

<div class="two-images">
  <img src="../images/work/breakline/bl-logo.jpg" alt="">
  <img src="../images/work/breakline/bl-application.jpg" alt="">
</div>

<section class="overview-container">
  <div class="text-block">
    <h2>Branding</h2>
    <p>The BreakLine program is very rigorous, intense, and effective. The symmetry and boldness of the mark helps show that as well as providing a sense of balance and stability that one can expect from a BreakLine program. The triangles that make up the mark point forward and encourage people to continue on a path to reach their dream career and never look back. The lowercase wordmark gives the logo a softer and friendlier tone, inviting potential students to apply. This logo is also very universal which will allow them to expand into other fields and target people with non-military backgrounds as well.</p>
    <a href="#" class="link-black-base">View Styleguide</a>
  </div>
  <aside class="detail-block">
    <h5>Highlights</h5>
    <p>Asset Folder with Logos</p>
    <p>Social Media Sized Logos</p>
  </aside>
</section>

<div class="three-screens">
  <div class="screens">
    <img src="../images/work/breakline/home.jpg" alt="">
    <img src="../images/work/breakline/program.jpg" alt="">
    <img src="../images/work/breakline/partners.jpg" alt="">
  </div>
</div>

<section class="overview-container">
  <div class="text-block">
    <h2>Visual Design</h2>
    <p>The typography has a techy feel that relates the types of programs BreakLine offers. In terms of color palette, the use of blues and teals provide a calmness and sense of reassurance to balance out the feelings of anxiety and stress that someone who is looking into shifting careers might be feeling. The gradients signify the idea of BreakLine providing their students with a smooth transition into a new career. The application is designed as a step form not only to break it up into shorter, less daunting sections, but also allowing applicants to easily save their changes and come back later.</p>
    <a href="#" class="link-black-base">View Styleguide</a>
  </div>
  <aside class="detail-block">
    <h5>Highlights</h5>
    <p>Stepped Application Form</p>
    <p>Custom Wordpress Theme</p>
    <p>Brand Development</p>
  </aside>
</section>