<header class="catharsis-header page-header">
  <div class="header-text">
    <h1>Catharsis Productions</h1>
    <p>UX & Visual Design  /  Front End Development</p>
  </div>
</header>

<section class="overview-container">
  <div class="text-block">
    <h2>Overview</h2>
    <p>Catharsis Productions focuses on reducing interpersonal violence using humor, relatability, and research-supported programs. These programs are designed and preformed for college, military, and corporate audiences. Personality, edginess, and professionalism with a touch of humor all needed to be be visually represented within the site to reflect the types of programs Catharsis offers.</p>
    <a href="http://www.catharsisproductions.com/" class="link-black-base">View Live Site</a>
  </div>
  <aside class="detail-block">
    <h5>Role</h5>
    <p>Lead Designer</p>
    <p>Lead Frontend Developer</p>
    <br><br>
    <h5>Launched</h5>
    <p>August 2015 / LaunchPad Lab</p>
  </aside>
</section>

<div class="two-images">
  <img src="../images/work/catharsis/cp-home.jpg" alt="">
  <img src="../images/work/catharsis/cp-mobile.jpg" alt="">
</div>

<section class="overview-container">
  <div class="text-block">
    <h2>Visual Design</h2>
    <p>These programs are no stuffy lecture, but instead full of engery, humor, and facts. The bold, playful color palette and typography help set this tone. The imagery highlights the team's lively personalities and high levels of energy. The custom illustrations for each program provide add a level of whimsy and humor to compliment the logo.</p>
    <a href="#" class="link-black-base" target="_blank">View Styleguide</a>
  </div>
  <aside class="detail-block">
    <h5>Highlights</h5>
    <p>Custom Icon Development</p>
    <p>Custom Illustrations</p>
    <p>Exciting Animations</p>
  </aside>
</section>

<div class="two-images">
  <img src="../images/work/catharsis/cp-icons.jpg" alt="">
  <img src="../images/work/catharsis/cp-illustrations.jpg" alt="">
</div>

<section class="text-blocks-container">
  <div class="text-block">
    <h2>UX Design</h2>
    <p>I restructured the site’s architecture to make the it easily nagivatable, allowing users to quickly find the content that’s relevant to them. The secondary navigation spells out their target audience (colleges, military, etc.) and directs them to content that is curated to meet their specific needs. The “Check Availability” form was critical to capture potential leads, so I only included the necessary inputs and placed it strategically throughout the website.</p>
  </div>
  <div class="text-block">
    <h2>Frontend Dev</h2>
    <p>The site was built on LocomotiveCMS to allow Catharsis to edit content, manage their blog, and easily add new programs. I created a fully responsive site using HTML5, CSS3, and SCSS. There is also a touch of Javascript that allowed me to add some nice interations within the site such as the responsive navigation, the expandable team bios, and the typing animation on the blog page.</p>
  </div>
</section>

<div class="two-images">
  <img src="../images/work/catharsis/cp-sex-signals-mobile.jpg" alt="">
  <img src="../images/work/catharsis/cp-coding.jpg" alt="">
</div>
<div class="spacer"></div>
<div class="two-images">
  <img src="../images/work/catharsis/cp-team.jpg" alt="">
  <img src="../images/work/catharsis/cp-form.jpg" alt="">
</div>

<section class="results-container">
  <h2>Results</h2>
  <ul>
    <li>
      <p><span>57%</span>monthly site traffic increase.</p>
    </li>
    <li>
      <p><span>100%</span>fully customizable.</p>
    </li>
    <li>
      <p><span>1.6</span>seconds to load page.</p>
    </li>
  </ul>
</section>
