<header class="chicago-line-header page-header">
  <div class="header-text">
    <h1>Chicago Line Cruises</h1>
    <p>UX & Visual Design  /  Front End Development</p>
  </div>
</header>

<section class="overview-container">
  <div class="text-block">
    <h2>Overview</h2>
    <p>Chicago Line Cruises has been providing narrated boat tours on Chicago's river and lake since 1981. With several other boat tour company's in the area, Chicago Line wanted an improved ticket buying experience and to visually stand out from their competitors. The design was largely inspired by the quality of their tours and the incredible views passengers get to experience.</p>
    <a href="https://www.chicagoline.com/" class="link-black-base" target="_blank">View Live Site</a>
  </div>
  <aside class="detail-block">
    <h5>Role</h5>
    <p>Lead Designer</p>
    <p>Lead Frontend Developer</p>
    <br><br>
    <h5>Launched</h5>
    <p>May 2015 / LaunchPad Lab</p>
  </aside>
</section>

<div class="two-images">
  <img src="../images/work/chicago-line/cl-tablet.jpg" alt="">
  <img src="../images/work/chicago-line/cl-fireworks.jpg" alt="">
</div>
<div class="spacer"></div>
<div class="three-images">
  <img src="../images/work/chicago-line/cl-tablet.jpg" alt="">
  <img src="../images/work/chicago-line/cl-tablet.jpg" alt="">
  <img src="../images/work/chicago-line/cl-tablet.jpg" alt="">
</div>

<section class="text-blocks-container">
  <div class="text-block">
    <h2>UX Design</h2>
    <p>The primary functions of this website is to inform people about the cruises Chicago Line offers and most importantly the ability to purchase tickets online quickly and easily. The call to action "Purchase Tickets" button is in a prominent red color on every page to make it easy for users to find.</p>
  </div>
  <div class="text-block">
    <h2>Visual Design</h2>
    <p>The goal was to give people a gilmpse of what you would expeirence on a Chicago Line cruise.

    We wanted to give users a glimpse of what it would be like to experience the sights of Chicago by boat and easily purchase tickets online. Chicago Line wanted a clean, modern, and high-end looking site to reflect the quality of their tours. We used black and white to create a sophisticated, clean look and allow the dynamic, architectural images to provide most of the color on the site. Red is used as the “Purchase Tickets” button color to make it easy for users to find. The typography is set in a modern fashion with a strong contrast of bold and light font weights that help establish a visual hierarchy and allow for easy reading.</p>
  </div>
</section>

<div class="two-images">
  <img src="../images/work/chicago-line/cl-tablet.jpg" alt="">
  <img src="../images/work/chicago-line/cl-fireworks.jpg" alt="">
</div>

<section class="results-container">
  <h2>Results</h2>
  <ul>
    <li>
      <p><span>50%</span>overal sales increase.</p>
    </li>
    <li>
      <p><span>93%</span>increase in goal conversion.</p>
    </li>
    <li>
      <p><span>54%</span>site traffic increase.</p>
    </li>
  </ul>
</section>