<header class="context-media-header page-header">
  <div class="header-text">
    <h1>Context Media</h1>
    <p>UX & UI Design  /  Front End Development</p>
  </div>
</header>

<section class="overview-container">
  <div class="text-block">
    <h2>Overview</h2>
    <p>Context Media Health partners with healthcare professionals to intall televisions, tablets, and other devices in their waiting rooms that deliver educational programming to their patients. Context Media needed a dashboard to keep track and inform their clients of their orders and installation status of these devices. The application fits seemlessly into their process by pulling data from a Google Sheet and formating into tables and graphs.</p>
  </div>
  <aside class="detail-block">
    <h5>Role</h5>
    <p>Lead Designer</p>
    <p>Lead Frontend Developer</p>
    <br><br>
    <h5>Launched</h5>
    <p>April 2016 / LaunchPad Lab</p>
  </aside>
</section>

<div class="two-images">
  <img src="../images/work/context-media/cm-client-list.jpg" alt="">
  <img src="../images/work/context-media/cm-mobile.jpg" alt="">
</div>

<section class="text-blocks-container">
  <div class="text-block">
    <h2>UX Design</h2>
    <p>There are 2 key users of application: Context Media admins and their clients. For the admins, it needed to be easy to create and update dashboards for their clients as well as manage users. Whereas, their clients just needed to view this installation information.</p>
  </div>
  <div class="text-block">
    <h2>UI Design</h2>
    <p>The typography and purple color palette used is kept consistent with their brand. For Context Media's clients that enter the application, the client's colors and logo are pulled in to add a touch of personalization. The tables and graphs are designed to be flexible with the ability to hold any amount of data.</p>
  </div>
</section>

<div class="two-images">
  <img src="../images/work/context-media/cm-close-up.jpg" alt="">
  <img src="../images/work/context-media/cm-mobile.jpg" alt="">
</div>
