<header class="flab-header page-header">
  <div class="header-text">
    <h1>Francis Lofts & Bunks</h1>
    <p>UX & Visual Design  /  Front End Development</p>
  </div>
</header>

<section class="overview-container">
  <div class="text-block">
    <h2>Overview</h2>
    <p>Space in one’s home is an issue. Whether it is an apartment, condo, or house, we can always use more space. Francis Lofts & Bunks has a solution that allows you to keep your adult-size bed and save space with their modern loft and bunk beds. In spite of this solution, their branding was beginning to look outdated and website was not mobile friendly. In addition, their site was not easily customizable with the themes Shopify could provide.</p>
    <a href="http://adultbunkbeds.com/" class="link-black-base" target="_blank">View Live Site</a>
  </div>
  <aside class="detail-block">
    <h5>Role</h5>
    <p>Lead Designer</p>
    <p>Lead Frontend Developer</p>
    <br><br>
    <h5>Launched</h5>
    <p>March 2015 / LaunchPad Lab</p>
  </aside>
</section>

<div class="two-images">
  <img src="../images/work/flab/logo-marks.jpg" alt="">
  <img src="../images/work/flab/flab-custom-icons.jpg" alt="">
</div>

<section class="overview-container">
  <div class="text-block">
    <h2>Branding</h2>
    <p></p>
    <a href="#" class="link-black-base">View Styleguide</a>
  </div>
  <aside class="detail-block">
    <h5>Highlights</h5>
    <p>Progress of Case</p>
    <p>In-App Messaging</p>
    <p></p>
  </aside>
</section>

<section class="overview-container">
  <div class="text-block">
    <h2>Visual Design</h2>
    <p></p>
    <a href="#" class="link-black-base">View Styleguide</a>
  </div>
  <aside class="detail-block">
    <h5>Highlights</h5>
    <p>Progress of Case</p>
    <p>In-App Messaging</p>
    <p></p>
  </aside>
</section>

<section class="results-container">
  <h2>Results</h2>
  <ul>
    <li>
      <p><span>50%</span>overal sales increase.</p>
    </li>
    <li>
      <p><span>93%</span>increase in goal conversion.</p>
    </li>
    <li>
      <p><span>54%</span>site traffic increase.</p>
    </li>
  </ul>
</section>