<header class="shift-header page-header">
  <div class="header-text">
    <h1>Shift</h1>
    <p>UX & Visual Design  /  Front End Development</p>
  </div>
</header>

<section class="overview-container">
  <div class="text-block">
    <h2>Overview</h2>
    <p>Every woman has a story. For some women, that includes working in a field all day in 90ºF weather and only making a dollar. Shift's goal is to help women in extreme poverty around the world reach a level of financial stability through mobile cash transfers and educational programs in financial literacy. The program is comprised of 5 phases (Mobilization, Sponsorship, Banking, Investment, and Empowerment) that provide finicial solutions to communities of women to jumpstart their financial stability and ulimately make a difference at home, their community, and society.</p>
  </div>
  <aside class="detail-block">
    <h5>Role</h5>
    <p>Lead Designer</p>
    <p>Lead Frontend Developer</p>
    <br><br>
    <h5>Launched</h5>
    <p>December 2014 / LaunchPad Lab</p>
  </aside>
</section>

<div class="single-image">
  <img src="../images/work/shift/shift-icons.png" alt="">

</div>
<div class="two-images">
  <img src="../images/work/shift/shift-gift.jpg" alt="">
  <img src="../images/work/shift/shift-gift.jpg" alt="">
</div>
<div class="spacer"></div>
<div class="two-images">
  <img src="../images/work/shift/shift-gift.jpg" alt="">
  <img src="../images/work/shift/shift-gift.jpg" alt="">
</div>

<section class="overview-container">
  <div class="text-block">
    <h2>Visual Design</h2>
    <p>The color palette, gradients, and typographic system reflect the strength and femininity of the women in need. The composition is laid out to tell a story so users can connect to the women in these communities and follow along thier Shift journey toward finacialy stability. The company's founder, Tricia, took a series of inpsirational photos during her trip to Africa that served as the focal point of this narrative. When donating, users can visually see the value of their donation—the amount corresponds to items like food for their families to funding a woman's education.</p>
    <a href="#" class="link-black-base">View Styleguide</a>
  </div>
  <aside class="detail-block">
    <h5>Highlights</h5>
    <p>Custom Icon Development</p>
    <p>Custom Illustrations</p>
    <p>Blog Design</p>
    <p>Interactive Donation Slider</p>
  </aside>
</section>

<div class="two-images">
  <img src="../images/work/shift/shift-mobile2.jpg" alt="">
  <img src="../images/work/shift/shift-mobile3.jpg" alt="">
</div>
