---
title: A Litte About Me
---

<header class="about-header page-header">
  <div class="header-text">
    <p>Monique Marchwiany</p>
    <h1>UX & UI Desginer <br>Frontend Developer</h1>
  </div>
</header>

<section class="education-container">
  <h2>Education</h2>

</section>

<section class="skills-container">
  <h2>Skills</h2>
  <p>Leading both the design and front end development phases, really allows me to ensure the best experience for a user.</p>
  <ul>
    <li>
      <img src="">
      <h5>Research</h5>
    </li>
    <li>
      <img src="">
      <h5>User Experience</h5>
    </li>
    <li>
      <img src="">
      <h5>Information Architecture</h5>
    </li>
    <li>
      <img src="">
      <h5>Prototyping</h5>
    </li>
    <li>
      <img src="">
      <h5>Branding</h5>
    </li>
    <li>
      <img src="">
      <h5>UI / Visual Design</h5>
    </li>
    <li>
      <img src="">
      <h5>Responsive Design</h5>
    </li>
    <li>
      <img src="">
      <h5>Frontend Development</h5>
    </li>
  </ul>
</section>


<section class="interests-container">
  <h2>Interests</h2>
  <p>When I’m not designing things or coding up a project, these are some of the things I enjoy doing in my free time.</p>
  <ul>
    <li>
      <img src="">
      <h5>Running</h5>
      <p>Pushing myself physically and mentally to become a stronger person in both senses of word.</p>
    </li>
    <li>
      <img src="">
      <h5>Reading</h5>
      <p>Spending my commutes and the occasional lazy weekend  going wherever the author takes me.</p>
    </li>
    <li>
      <img src="">
      <h5>Cooking & Baking</h5>
      <p>I’m a total foodie, especially when it comes to making my own and then getting to share it with others.</p>
    </li>
    <li>
      <img src="">
      <h5>Photography</h5>
      <p>Adventuring outdoors and being surrounded by beautiful nature with my Canon T5i camera.</p>
    </li>
  </ul>
</section>