---
title: Monique Marchwiany Blog
---

<h1>Blog</h1>

<section class="blog-container">
  <ul>
    <li>
      <h2><a href="#">Dispute Bills Design Case Study</a></h2>
      <p>Branding / UX & UI / Process</p>
      <p>Over the past several weeks, we had the pleasure of getting to design (and build) a brand, logo, application, and marketing site for DisputeBills.</p>
    </li>
    <li>
      <h2><a href="#">MY TOOLS OF CHOICE FOR DESIGNING & DEVELOPING</a></h2>
      <p>Branding / UX & UI / Process</p>
      <p>As someone who gets to be involved in a project from the beginning all the way through launch, there are a few tools that have become integral to my design and development process. These tools helped make me more efficient by enabling me to...</p>
    </li>
    <li>
      <h2><a href="#">BEHIND THE BRANDING OF FRANCIS LOFTS & BUNKS</a></h2>
      <p>Branding / UX & UI / Process</p>
      <p>Logos are the face of your company. It’s important to have a logo that gives off the feeling you want your customers to remember you by. With design trends constantly evolving, it’s important for companies to make sure their logo looks fresh and...</p>
    </li>
    <li>
      <h2><a href="#">ROCKET ANIMATION: CSS ANIMATIONS USING SVGS</a></h2>
      <p>Branding / UX & UI / Process</p>
      <p>Wondering how we did that rocket animation on our LaunchPad Lab site when you hover over the logo? Well we used a little something called CSS Animations. This is a great lightweight alternative to using javascript or dare I say...flash to create...</p>
    </li>
    <li>
      <h2><a href="#">SQUARES CONFERENCE</a></h2>
      <p>Branding / UX & UI / Process</p>
      <p>Last week as part of the design team, Kurt and I flew down to Grapevine, Texas for the first annual Squares Conference. There was a solid mix of topics discussed which included: design, ux, frontend, development, business, and products.</p>
    </li>
  </ul>
</section>