---
title: Monique Marchwiany Design Portfolio
---

<section class="portfolio-block">
  <ul>
    <li class="flab">
      <a href="work/flab.html">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>Francis Lofts & Bunks</h3>
            <p>Branding / UX & Visual Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="catharsis">
      <a href="work/catharsis-productions.html">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>Catharsis Productions</h3>
            <p>UX & Visual Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="dispute-bills">
      <a href="work/dispute-bills.html">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <div class="text-block">
              <h3>Dispute Bills</h3>
              <p>Branding  /  UX & Visual Design  /  Frontend Development</p>
            </div>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="chicago-line">
      <a href="work/chicago-line-cruises.html">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>Chicago Line Cruises</h3>
            <p>UX & Visual Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="prevent-blindness">
      <a href="work/prevent-blindness.html">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>Prevent Blindness</h3>
            <p>UX & Visual Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="whi">
      <a href="#">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>WHI Real Estate</h3>
            <p>UX & Visual Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="context-media">
      <a href="#">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>Context Media</h3>
            <p>UX & UI Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="shift">
      <a href="work/shift.html">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>Shift</h3>
            <p>UX & Visual Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
    <li class="breakline">
      <a href="#">
        <div class="image-block"></div>
        <figcaption>
          <div class="text-block">
            <h3>BreakLine</h3>
            <p>Branding / UX & Visual Design  /  Frontend Development</p>
          </div>
        </figcaption>
      </a>
    </li>
  </ul>
</section>